<div class="card-body">
    <div class="container">
        <div class="form-group">
            <ul class="nav nav-fill nav-pills justify-content-center">
                <li class="nav-item">
                    <a class="nav-link bg-secondary" (click)="getAllOrders()">All orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  bg-secondary" (click)="editShop()">Edit shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active bg-secondary" (click)="addNewBook()">Add new book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  bg-secondary" (click)="addBook()">Add existent book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  bg-secondary" (click)="shopAssortment()">Shop assortment</a>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <form #bookForm="ngForm">
                <div class="form-group">
                    <label for="bookName">Book name</label>
                    <textarea [(ngModel)]="book.bookName" name="bookName" class="form-control" id="bookName"
                        placeholder="not specified">{{book.bookName}}</textarea>
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <textarea [(ngModel)]="book.author" name="author" class="form-control" id="author"
                        placeholder="not specified">{{book.author}}</textarea>
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <textarea [(ngModel)]="book.genre" name="genre" class="form-control" id="genre"
                        placeholder="not specified">{{book.genre}}</textarea>
                </div>
                <div class="form-group">
                    <label for="publicationYear">Publication year</label>
                    <textarea [(ngModel)]="book.publicationYear" name="publicationYear" class="form-control"
                        id="publicationYear" placeholder="not specified">{{book.publicationYear}}</textarea>
                </div>
                <div class="form-group">
                    <label for="pages">Pages</label>
                    <textarea [(ngModel)]="book.pages" name="pages" class="form-control" id="pages"
                        placeholder="not specified">{{book.pages}}</textarea>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea [(ngModel)]="book.description" name="description" class="form-control" id="description"
                        placeholder="not specified">{{book.description}}</textarea>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <textarea [(ngModel)]="assortment.quantity" name="quantity" class="form-control" id="quantity"
                        placeholder="not specified">{{assortment.quantity}}</textarea>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <textarea [(ngModel)]="assortment.price" name="price" class="form-control" id="price"
                        placeholder="not specified">{{assortment.price}}</textarea>
                </div>
                <button type="submit" class="btn btn-info" (click)="onSubmitBook()">Save</button>
            </form>
        </div>
    </div>
</div>