<div class="card">
	<div class="row">
		<aside class="col-sm-12">
			<article class="card-body p-5">
				<h3 class="title mb-3">{{book.bookName}}</h3>

				<p class="price-detail-wrap">
					<span class="price h3 text-warning">
						<span class="currency">at least: $</span><span class="num">{{price}}</span>
					</span>
				</p>
				<dl class="item-property">
					<dt>Author: </dt>
					<dd>
						<p>{{book.author}}</p>
					</dd>
				</dl>
				<hr>
				<dl class="param param-feature" *ngIf="book.genre">
					<dt>Genre: </dt>
					<dd>{{book.genre}}</dd>
				</dl>
				<dl class="item-property" *ngIf="book.description">
					<dt>Description: </dt>
					<dd>
						<p>{{book.description}}</p>
					</dd>
				</dl>
				<dl class="param param-feature" *ngIf="book.publicationYear">
					<dt>Publication year: </dt>
					<dd>{{book.publicationYear}}</dd>
				</dl>
				<dl class="param param-feature" *ngIf="book.pages">
					<dt>Pages: </dt>
					<dd>{{book.pages}}</dd>
				</dl>
				<dl class="item-property">
					<dt>Shops: </dt>
						<table class="table table-hover table-responsive">
							<tbody>
								<tr *ngFor="let shop of shops">
									<td>{{ shop.id }}</td>
									<td>{{ shop.shopName }}</td>
									<td>{{ shop.country }}</td>
									<td>{{ shop.city }}</td>
									<td>{{ shop.address }}</td>
									<td>${{ shop.price }}</td>
									<td><button class="btn btn-primary btn-raised text-white" (click)="onSubmit()">
											<i class="fas fa-shopping-cart"></i> Add to cart
										</button></td>
								</tr>
							</tbody>
						</table>
				</dl>
			</article>
		</aside>
	</div>
</div>