<div class="card-body">
    <div class="container">
        <div class="row">
            <aside class="col-md-6">
                <form #orderForm="ngForm">
                    <div class="form-group">
                        <label for="orderId">Order ID</label>
                        <input disabled [(ngModel)]="order.orderId" name="orderId" class="form-control" id="orderId"
                            placeholder="{{order.orderId}}">
                    </div>
                    <div class="form-group">
                        <label for="shopName">Order number</label>
                        <input disabled [(ngModel)]="order.orderNumber" name="orderNumber" class="form-control"
                            id="orderNumber" placeholder="not specified">
                    </div>
                    <div class="form-group">
                        <label for="deliveryAddress">Delivery Address</label>
                        <input disabled [(ngModel)]="order.deliveryAddress" name="deliveryAddress" class="form-control"
                            id="deliveryAddress" placeholder="{{order.deliveryAddress}}">
                    </div>

                    <label for="orderSubmitDate">Order submit/complete date</label>
                    <div class="form-group" *ngIf="isClient">
                        <div class="input-group">
                            <input disabled [(ngModel)]="order.orderSubmitDate" name="orderSubmitDate"
                                class="form-control input-sm" id="orderSubmitDate"
                                placeholder="{{order.orderSubmitDate}}">
                            <input disabled class="form-control input-sm" placeholder="{{order.orderCompleteDate}}"
                                name="orderCompleteDate">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="isOwner">
                        <div class="input-group">
                            <input disabled [(ngModel)]="order.orderSubmitDate" name="orderSubmitDate"
                                class="form-control input-sm" id="orderSubmitDate"
                                placeholder="{{order.orderSubmitDate}}">
                            <input class="form-control input-sm" placeholder="{{order.orderCompleteDate}}"
                                name="orderCompleteDate" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                                    class="fa fa-calendar" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="classificationStatus">Status</label>
                            <input disabled [(ngModel)]="order.classification" name="order.classification"
                                class="form-control" id="classification"
                                placeholder="{{order.classification}}">
                        </div>
                        <div class="col form-group">
                            <label for="username"> Username</label>
                            <input disabled [(ngModel)]="order.username" name="order.username" class="form-control"
                                id="username" placeholder="{{order.username}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea disabled [(ngModel)]="order.description" name="order.description" class="form-control"
                            id="description" placeholder="not specified">{{order.description}}</textarea>
                    </div>
                    <div class="form-group" *ngIf="isOwner">
                        <label for="order.classification">Change status</label>
                        <select [(ngModel)]="order.classification" name="classification" class="form-control">
                            <option *ngFor="let classification of classifications" [ngValue]="classification">
                                {{ classification }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button *ngIf="isOwner" type="submit" class="btn btn-info float-left"
                            (click)="saveOrder()">Save</button>
                        <button type="submit" class="btn btn-danger float-right" (click)="deleteOrder()"><i
                                class="fa fa-trash" aria-hidden="true"></i>Delete</button>
                    </div>
                </form>

            </aside>
            <aside class="col-md-6">
                <div class="form-group">
                    <table *ngIf="orderContents.length" class="table shopping-cart-wrap">
                        <thead class="text-muted">
                            <tr>
                                <th>Product</th>
                                <th width="120">Quantity</th>
                                <th>Price</th>
                                <th class="text-right" *ngIf="isOwner">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let orderContent of orderContents; 
                            let i = index" [attr.data-index]="i">
                                <td>
                                    <figure class="media">
                                        <figcaption class="media-body">
                                            <h6 class="title text-truncate">{{books[i].bookName}} </h6>
                                            <dl class="param param-inline small">
                                                <dt>Author: </dt>
                                                <dd>{{books[i].author}}</dd>
                                            </dl>
                                            <h6 class="title text-truncate">{{orderContent.shopId}} </h6>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <div *ngIf="isClient">
                                        <input disabled [(ngModel)]="orderContent.quantity" name="orderContent.quantity"
                                            class="form-control" id="quantity"
                                            placeholder="{{ orderContent.quantity }}">
                                    </div>
                                    <div *ngIf="isOwner">
                                        <input [(ngModel)]="orderContent.quantity" name="quantity" class="form-control"
                                            id="quantity" placeholder="{{ orderContent.quantity }}">
                                    </div>
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price">USD {{orderContent.price}}</var>
                                        <dt>Total price: </dt>
                                        <dd>USD {{orderContent.price*orderContent.quantity}}</dd>
                                    </div>
                                </td>
                                <td class="text-right" *ngIf="isOwner">
                                    <div class="btn-group-vertical">
                                        <a (click)="removeBook(orderContent)" class="btn btn-danger"><i
                                                class="fa fa-trash" aria-hidden="true"></i> Remove</a>
                                        <a (click)="saveChanges(orderContent)" class="btn btn-info">Save
                                            changes</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h5>Full price: ${{fullPrice}}</h5>
            </aside>
        </div>
    </div>
</div>