<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="userName">username</label>
        <textarea disabled class="form-control" id="username" placeholder="not specified">{{user.username}}</textarea>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <textarea disabled class="form-control" id="email" placeholder="not specified">{{user.email}}</textarea>
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <textarea disabled class="form-control" id="firstName" placeholder="not specified">{{user.firstName}}</textarea>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <textarea disabled class="form-control" id="LastName" placeholder="not specified">{{user.lastName}}</textarea>
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ user.activated ? "true" : "false" }}
        <button class=" btn-primary btn-raised text-white float-center mt-3" *ngIf="user.activated"
          (click)="activatedChange(false)"> Ban user </button>
        <button *ngIf="!user.activated" class=" btn-primary btn-raised text-white float-center mt-3"
          (click)="activatedChange(true)"> Unban user </button>
      </div>

        <div class="form-group">
          <label><strong>Role client:</strong></label>
          {{ getRoleStatus("ROLE_CLIENT") ? "active" : " not active" }}
          <button class=" btn-primary btn-raised text-white float-center mt-3" *ngIf="getRoleStatus('ROLE_CLIENT')"
            (click)="changeRoleStatusClient(false)">deactivate</button>
          <button *ngIf="!getRoleStatus('ROLE_CLIENT')" class=" btn-primary btn-raised text-white float-center mt-3"
            (click)="changeRoleStatusClient(true)">activate</button>
        </div>
        
        <div class="form-group">
        <label><strong>Role owner:</strong></label>
        {{ getRoleStatus("ROLE_OWNER") ? "active" : " not active" }}
          <button class=" btn-primary btn-raised text-white float-center mt-3" *ngIf="getRoleStatus('ROLE_OWNER')"
            (click)="changeRoleStatusOwner(false)">deactivate</button>
          <button *ngIf="!getRoleStatus('ROLE_OWNER')" class=" btn-primary btn-raised text-white float-center mt-3"
            (click)="changeRoleStatusOwner(true)">activate</button>
        </div>
        
        <div class="form-group">
        <label><strong>Role admin:</strong></label>
        {{ getRoleStatus("ROLE_ADMIN") ? "active" : " not active" }}
          <button class=" btn-primary btn-raised text-white float-center mt-3" *ngIf="getRoleStatus('ROLE_ADMIN')"
            (click)="changeRoleStatusAdmin(false)">deactivate</button>
          <button *ngIf="!getRoleStatus('ROLE_ADMIN')" class=" btn-primary btn-raised text-white float-center mt-3"
            (click)="changeRoleStatusAdmin(true)">activate</button>
        </div>


      <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info" (click)="onSubmit()">Save</button>
    </form>
  </div>

</div>